# PlatformIO build
**/.pio/

# ESP-IDF
**/build/
**/sdkconfig.old
**/dependencies.lock

# VSCode (otomatik üretilen)
**/.vscode/c_cpp_properties.json
**/.vscode/launch.json
**/.vscode/ipch/
**/.vscode/.browse.c_cpp.db*

# JetBrains IDE
**/.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
